@font-face{
    font-family: 'Bantayog';
    font-style: normal;
    font-weight: normal;
    src: local(Bantayog), url('../fonts/Bantayog-Regular.woff') format('woff');
}

@font-face{
    font-family: 'NidSans';
    src: local(nidsans-webfont), url('../fonts/nidsans-webfont.woff') format('woff');
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
    text-align: center;
}

h1{
    font-family: NidSans;
    font-size: 40px;
    padding: 10px;
    letter-spacing: 8px;
}

h2{
    font-family: NidSans;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 200;
}

td {
    font-size: 25px;
    font-family: Bantayog;
    padding: 5px;
}

.title {
    width: 50%;
    text-align: right;
}

.field {
    width: 50%;
    text-align: left;
}

table {
    width: 100%;
    font-family : Bantayog;
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
}

.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
}

#prematch_table, #postmatch_table {
    text-align: center;
    color: white;
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-style: none;
    border-top-style: solid;
    border-color: white;
    border-width: 3px;
    padding-top: 50px;
    margin-top: 30px;
}

#prematch{
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(237,158,158,1) 0%, rgba(186,229,255,1) 100%);
}

input{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(54, 102, 132);
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    font-family: NidSans;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
}

.flipButton, .undoButton{
    margin: 10px;
}

.page_title {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    color: white;
    /*border-color: rgb(225, 102, 209);*/
    border-width: 4px;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 2rem #FF98B0, 0 0 0.8rem #FF98B0, 0 0 2.8rem #FF98B0, inset 0 0 1.3rem #FF98B0;
}

#autonHeader1{
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff,0 0 2rem #9793dd,0 0 0.8rem #9793dd,0 0 2.8rem #9793dd,inset 0 0 1.3rem #9793dd;
}

.field-image-src{
    background-position: center;
}

#prematch{
    display: table;
}

.match-label{
    text-align: center;
}

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}

#qrHeader1, #qrHeader2 {
    color: black;
}

#qr-code{
    text-align: center;
    color: black;
  }